Repository jobream/List-of-Learning-Resources, pull requests merged in 2021-07, with the labels that each got.

#86 Update CompetitiveProgramming.md
  resources/CompetitiveProgramming.md
Labels: New Resource, documentation

#88 3 New Resources: Competitive Programming, Web Dev and Python.
  resources/CompetitiveProgramming.md
  resources/LearnPython.md
  resources/WebDevelopment.md
Labels: New Resource, documentation

#90 Addition of Competitive Programming Resources
  resources/CompetitiveProgramming.md
Labels: New Resource

#93 Update README.md
  README.md
Labels: documentation, enhancement
